<h1>New Tweet</h1>

<h2>Post a tweet:</h2>
<%= form_with(model: @tweet, local: true) do |form| %>
  <p>
    <%= form.label :Tweet %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', user_path %>
