<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @tweet.tweet %>
</p>

<%= link_to 'Edit', user_tweets_path(@tweet) %> 
<br>
<%= link_to 'Back to profiles', users_path %>
<br>
<%= link_to 'Back to tweet feed', tweets_path %>
