<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row">
    <h1>PROJET TWITTER LIGHT ROR </h1>
  </div>
  

  <div class="row">
    <h2>Liste des utilisateurs</h2>
  </div>

  <div class="row">
    <h3> <button class="button button-outline"> <%= link_to 'Crée un Utilisateur', new_user_path %> </button> </h3>
  </div>
  
  <% @users.each do |user| %>
    <div class="row">
        <div class="column"> <td><%= image_tag "test.png", width: 64, height: 64 %> </td> </div>
        <div class="column"> <td><%= user.pseudo %><td></div>
        <div class="column"> <button class="button button-outline"> <%= link_to 'Connexion', user %> </button> </div>
        <div class="column"> <button class="button button-outline"> <%= link_to 'Editer', edit_user_path(user) %> </button> </div>
        <div class="column"> <button class="button button-outline"> <%= link_to 'Supprimer', user, method: :delete, data: { confirm: 'êtes-vous sûr ?' } %> </button> </div>
    </div>
  <% end %>

  <div class="row">
    <h4>Site crée par Paul REBOUL et Antoine FRITSCH</h4>
  </div>

</div>