<p id="notice"><%= notice %></p>

<div class="container">

  <h1>
    Utilisateur : <%= @user.pseudo %>
  </h1>

  <button class="button button-outline"><%= link_to 'Editer le profile', edit_user_path(@user) %></button>
  <button class="button button-outline"><%= link_to 'Deconnexion', users_path %> </button>

  <div class="row">
    <h3><button class="button button-outline"><%= link_to 'Crée un tweet', new_tweet_path(@user) %></button> </h3>
  </div>
</div>