<p id="notice"><%= notice %></p>

<h1>
  <strong>Pseudo:</strong>
  <%= @user.pseudo %>
</h1>

<%= link_to 'Edit profile', edit_user_path(@user) %> |
<%= link_to 'Logout', users_path %>
<p>
  <%= link_to 'New tweets', new_tweet_path(@user) %>
</p>